.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fade-enter{
    opacity: 0;
    z-index: 1;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1500ms linear 500ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 1500ms linear 500ms;
}

/* Nav bar */
.nav-bar {
  display: block;
  position: fixed;
  top: 0;
  background-color: #000000;
  color: #FFFFFF;
  width: 100vw;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-evenly;

}

.nav span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  width:50px;
  height:50px;
  margin-right: 5px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  list-style-type: none;
  margin: 0;
}

.navLink {
  text-decoration: none;
  padding: 10px 30px;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}

.navLink:hover {
  background-color: #1DB954;
  color: #FFFFFF;
}

/* Home Page */
.home-container {
  height: 100vh;
  background-image: url(../src/assests/images/adult-band-black-and-white-concert-210766.jpg);
  background-size: cover;
  overflow: hidden;
}

/* Login Page */
.icon {
  width: 20px;
  vertical-align: bottom;
}

.login-container {
  height: 100vh;
  background-image: url(../src/assests/images/austin-neill-BzxBE7IaKf8-unsplash.jpg);
  background-size: cover;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.login {
  display: flex;
  margin: 10% auto 10%;
  padding: 50px;
  max-width: 1000px;
  height: 500px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: #FFFFFF;
  transition: all 0.5s ease-in-out;
}

.login:hover {
  opacity: 0.95;
  transition: all 0.5s ease-in-out;
}

.spotify-login {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify-login-wrapper {
  width: 100%;
  height: 240px;
}

.app-login {
  width: 50%;
  border-left: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login h3 {
  font-size: 25px;
}

.sign-up h3 {
  margin: 10px;
}

.login h4 {
  margin: 0;
}

[type="checkbox"]:checked {
  appearance: none;
}

[type="checkbox"]:checked::before {
  content: '\2714';
}

/* Music Page */
.music {
  height: 100vh;
  background-image: url(../src/assests/images/vinyl-music-play-spinning-21148.jpg);
  background-size: cover;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  color: #FFFFFF;
  font-size: 24px;
}

.search-box {
  font-size: 24px;
  padding: 10px;
  width: 400px;
}

/* Cards */

.song-card {
  background-color: white;
}